<!-- Associated with "/" -->
<!-- See testing.py for info -->
{%extends "base.html" %}

{%block title %}Latest Posts{%endblock %}

{%block navbar %}
{{ super() }}
<a href="/new/">Create New Story</a>
<a href="/logout/">Logout</a>
{%endblock %}

{%block page_header %}Your Stories{%endblock %}

{%block content %}
Switch between contributed to and not contributed to<br>

Posts you've contributed to: <br>
Single Post:<br>
"title" by "author"<br>
Full text <br>
<br>

Posts you've not contributed to: <br>
Single Post: <br>
"title" by "author"<br>
Latest addition<br>
<br>
{%endblock %}
