h1 {
    color:#f7f7f7;
}

p {
    word-wrap:break-word;
    color:#555;
}

.text-muted {
    font-size: smaller;
}

.btn-post {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-post:hover,
.btn-post:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

