<!-- Associated with "/" -->
<!-- See testing.py for info -->
{%extends "base.html" %}

{%block custom_head %}
<link href="/static/css/custom_stories.css" rel="stylesheet">
{%endblock %}

{%block title %}Stumblr{%endblock %}

{%block navbar %}
<li><a href="/new/">Start a Story</a></li>
<li><a href="/">{{ session['user'] }}</a></li>
<li><a href="/logout/">Logout</a></li>
{%endblock %}


{%block content %}

<div class = "container">
  <h1>Stories You've Added To</h1>
  <hr>
</div>

{%for story in usercontributed[::-1] %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
	<div class="panel-body">
	  <div class="row">
	    <div class="col-lg-12">
	      
	      <h1><a href="/s/{{ story[0] }}">{{ story[1] }}</a></h1>
	      <p class="text-muted">—created by {{ story[3][0] }} on {{ story[4][0] }}</p>
	      <!-- display story -->
	      <hr>
	      <div>
		{%for i in range(story[2]|length) %}
		<p>{{ story[2][i] }}</p>
		<p class="text-muted">—added by {{ story[3][i] }} on {{ story[4][i] }}</p>
		{%endfor %}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>


{%endfor %}

<div class="container">
  <h1>New Stories</h1>
  <hr>
</div>

{%for story in usernotcontributed[::-1] %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
	<div class="panel-body">
	  <div class="row">
	    <div class="col-lg-12">
	      
	      <h1><a href="/s/{{ story [0] }}">{{ story[1] }}</a></h1>
	      <p class="text-muted">—created by {{ story[3][0] }} on {{ story[4][0] }}</p>
	      <!-- display story -->
	      <hr>
	      <div>
		{%for i in range(story[2]|length) %}
		<p>{{ story[2][i] }}</p>
		<p class="text-muted">—added by {{ story[3][i] }} on {{ story[4][i] }}</p>
		{%endfor %}
		<p>{{ story[4] }}</p>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{%endfor %}

{%endblock %}

